/* Style the navigation bar */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
  background-size: cover;
  background-position: center;
}

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  top: 23px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1{
  font-size: 40px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
button:hover span{
  width: 100%;
}
.s{
  font-family: "Lucida Console", "Courier New", monospace;
}

#custom-button {
  padding: 10px;
  color: white;
  background-color: #009688;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: #00b28f;
}

#custom-text {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

input[type="file"]::-webkit-file-upload-button {
  width: 200px;
  padding: 15px 0;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
}

input[type="file"]:hover::-webkit-file-upload-button {
  background-color: #00b28f;
}