<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='css/mental health.jpg')}}" type="image/x-icon">
	<link href="{{url_for('static', filename='css/download.css')}}" rel="stylesheet">
    <title>Upload</title>
</head>
<body>
    <div class="banner">
		<div class="navbar">
			<!-- <img src="logo.jpg" class="logo"> -->
			<h3 style="color: white; cursor: pointer;">MENTAL HEALTH</h3>
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="about.html">ABOUT US</a></li>
				<li><a href="upload.html">UPLOAD FILE</a></li>
			</ul>
		</div>
		<div class="content">
			<h1>YOUR DOWNLOAD<p style="color: teal; display: inline-block;">IS READY</p></h1>
			<p class="s">Click below to download your output.</p>
			<div>
				<form action="/download_files" method="post">
					<button name="download" type="submit"><span></span>Download</button>
				</form>
			</div>
		</div>
	</div> 
</body>
</html>